scikit-learn==1.0.2
joblib==1.1.0
fire==0.4.0
alibi-detect==0.9.0
airflow-provider-great-expectations==0.1.4
apache-airflow==2.2.4
dvc==2.9.5
fastapi==0.75.0
feast==0.19.3
matplotlib==3.5.1
mlflow==1.24.0
numpy==1.21.5
numpyencoder==0.3.0
optuna==2.10.0
pandas==1.4.1
pretty-errors==1.2.25
rich==12.0.0
seaborn==0.11.2
sklearn==0.0
streamlit==1.7.0
torch==1.9.0
typer==0.4.0
uvicorn[standard]
watchdog==2.1.6
boto3
